<div class="flex flex-col h-full w-full">
  <app-title-bar class="sticky top-0 z-10" />
  <main
    fMaxHeightMinusHeader
    class="flex-grow max-w-5xl mx-auto w-full h-full rounded-t-2xl"
  >
    <form class="mx-4 flex flex-col gap-2 h-full">
      <p class="block mb-2">
        {{ "project.input.description" | translate }}
      </p>
      <div class="mb-5 mt-5">
        <label for="name">{{ "project.input.name" | translate }}</label>
        <input
          hlmInput
          id="name"
          name="name"
          class="w-full"
          autocomplete="off"
          [placeholder]="'project.input.namePlaceholder' | translate"
          [(ngModel)]="projectName"
        />
      </div>
      <div class="mb-5 mt-5">
        <label for="description">{{
          "project.input.descriptionLabel" | translate
        }}</label>
        <app-auto-resize-textarea
          name="description"
          inputId="description"
          [maxlength]="200"
          [placeholder]="'project.input.descriptionPlaceholder' | translate"
          [(ngModel)]="projectDescription"
        />
      </div>
      <div class="flex gap-1 mt-auto mb-4">
        <button hlmBtn class="flex-1" (click)="submit()" [disabled]="!projectName()">
          <i [class]="mode() === 'add' ? 'fa-solid fa-circle-plus' : 'fa-regular fa-floppy-disk'"></i>
          {{ mode() === 'add' ? ('project.input.create' | translate) : ('project.input.update' | translate) }}
        </button>
      </div>
    </form>
  </main>
</div>
