<p-card>
  <div class="tw:flex tw:flex-col tw:gap-3">
    <div class="tw:flex tw:items-start tw:gap-2">
      <div class="tw:flex tw:flex-col tw:gap-2 tw:flex-1">

        <div class="tw:flex tw:gap-2">
          <div class="tw:flex tw:flex-col tw:gap-1 tw:flex-1">
            <label class="tw:text-xs tw:font-semibold tw:text-gray-600">
              {{ "project.pollInput.date.startDate" | translate }}
            </label>
            <p-datepicker
              [showTime]="false"
              [showIcon]="true"
              [firstDayOfWeek]="1"
              appendTo="body"
              styleClass="tw:w-full"
              [(ngModel)]="option().date"
              [name]="'date-range-start-' + index()"
            />
          </div>

          @if (showTime()) {
            <div class="tw:flex tw:flex-col tw:gap-1 tw:flex-1">
              <div class="tw:flex tw:items-center tw:justify-between">
                <label class="tw:text-xs tw:font-semibold tw:text-gray-600">
                  {{ "project.pollInput.date.startTime" | translate }}
                </label>
                <button
                  type="button"
                  class="tw:text-xs tw:text-gray-400 hover:tw:text-red-500 tw:transition-colors tw:bg-transparent tw:border-0 tw:cursor-pointer tw:p-0"
                  (click)="removeTime()"
                >
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
              <p-datepicker
                [timeOnly]="true"
                hourFormat="24"
                [showIcon]="true"
                appendTo="body"
                styleClass="tw:w-full"
                [(ngModel)]="option().startTime"
                [name]="'date-range-start-time-' + index()"
              />
            </div>
          }
        </div>

        <div class="tw:flex tw:gap-2">
          <div class="tw:flex tw:flex-col tw:gap-1 tw:flex-1">
            <label class="tw:text-xs tw:font-semibold tw:text-gray-600">
              {{ "project.pollInput.date.endDate" | translate }}
            </label>
            <p-datepicker
              [showTime]="false"
              [showIcon]="true"
              [firstDayOfWeek]="1"
              appendTo="body"
              styleClass="tw:w-full"
              [(ngModel)]="option().endDate"
              [name]="'date-range-end-' + index()"
            />
          </div>

          @if (showTime()) {
            <div class="tw:flex tw:flex-col tw:gap-1 tw:flex-1">
              <label class="tw:text-xs tw:font-semibold tw:text-gray-600">
                {{ "project.pollInput.date.endTime" | translate }}
              </label>
              <p-datepicker
                [timeOnly]="true"
                hourFormat="24"
                [showIcon]="true"
                appendTo="body"
                styleClass="tw:w-full"
                [(ngModel)]="option().endTime"
                [name]="'date-range-end-time-' + index()"
              />
            </div>
          }
        </div>

        @if (!showTime()) {
          <button
            type="button"
            class="tw:flex tw:items-center tw:gap-1 tw:text-sm tw:text-gray-400 tw:cursor-pointer hover:tw:text-primary tw:transition-colors tw:bg-transparent tw:border-0 tw:p-0 tw:self-start"
            (click)="addTime()"
          >
            <i class="fa-solid fa-plus" style="font-size: 11px"></i>
            {{ "project.pollInput.date.addTime" | translate }}
          </button>
        }

      </div>

      @if (canRemove()) {
        <p-button
          type="button"
          icon="fa-solid fa-xmark"
          [text]="true"
          severity="secondary"
          (click)="remove.emit()"
        />
      }
    </div>
  </div>
</p-card>
