<div
  class="tw:flex tw:flex-col tw:items-center tw:justify-center tw:gap-4 tw:flex-1"
  [class.tw:p-6]="parsed().type !== 'date'"
  [class.tw:p-2]="parsed().type === 'date'"
>
  <div class="tw:flex tw:flex-col tw:items-center tw:gap-2 tw:text-center">
    @switch (parsed().type) {
      @case ("weekday") {
        <app-vote-card-date-weekday
          [entry]="parsed()"
          [otherWeekdays]="otherWeekdays()"
        />
      }
      @case ("date") {
        <app-vote-card-date-date [entry]="parsed()" [otherDates]="otherDates()" />
      }
      @case ("date-range") {
        <app-vote-card-date-date-range [entry]="parsed()" />
      }
      @case ("time") {
        <app-vote-card-date-time [entry]="parsed()" />
      }
      @case ("time-range") {
        <app-vote-card-date-time-range [entry]="parsed()" />
      }
    }
  </div>
</div>
