<div>
  <h3 id="comments-section">
    {{ "project.votesOverview.comments" | translate }}
  </h3>
  <div
    class="tw:bg-white tw:rounded-2xl tw:p-4 tw:shadow-sm tw:border tw:border-gray-100"
  >
    <div class="tw:flex tw:flex-col tw:gap-3 tw:mb-4">
      @for (comment of comments(); track comment.id) {
        <div class="tw:flex tw:gap-2">
          <app-user-avatar [user]="authorAsUser(comment.author)" />
          <div
            class="tw:bg-gray-50 tw:p-3 tw:rounded-2xl tw:rounded-tl-none tw:flex-1"
          >
            <p class="tw:text-sm tw:font-bold tw:text-gray-900">
              {{ comment.author }}
            </p>
            @if (comment.quote) {
              <blockquote
                class="tw:text-xs tw:text-gray-500 tw:italic tw:mb-1 tw:border-l-2 tw:border-gray-300 tw:p-1 tw:pl-2 tw:bg-black/3"
              >
                @let tsMs = quoteAsDate(comment.quote);
                @if (tsMs !== null) {
                  {{ tsMs | date: "medium" }}
                } @else {
                  {{ comment.quote }}
                }
              </blockquote>
            }
            <p class="tw:text-sm tw:text-gray-600">{{ comment.content }}</p>
            <span
              class="tw:text-[10px] tw:text-gray-400 tw:mt-1 tw:uppercase tw:tracking-wider tw:font-semibold tw:block"
              >{{ comment.created | timeSince }}</span
            >
          </div>
        </div>
      }
    </div>

    <div class="tw:flex tw:items-end tw:gap-2">
      <app-auto-resize-textarea
        class="tw:flex-1"
        [(ngModel)]="newCommentText"
        [placeholder]="'project.votesOverview.newComment' | translate"
        (keydown.enter)="onEnterKey($event)"
      />
      <p-button
        icon="fa-regular fa-paper-plane"
        class="tw:mb-[4px]"
        (click)="submitComment()"
      />
    </div>
  </div>
</div>
