<div class="ds-avatar-stack">
  @for (m of shown(); track $index) {
    <div class="ds-avatar-stack__item">
      <ds-avatar [initial]="m.initial" [bg]="m.bg" [fg]="m.fg" [size]="px()" [ring]="true" />
    </div>
  }
  @if (extra() > 0) {
    <div
      class="ds-avatar-stack__overflow"
      [style.width.px]="px()"
      [style.height.px]="px()"
      [style.font-size.px]="overflowFontSize()"
    >+{{ extra() }}</div>
  }
  @if (showAdd()) {
    <button class="ds-avatar-stack__add" [style.width.px]="px()" [style.height.px]="px()" (click)="addClicked.emit()">+</button>
  }
</div>
