<div class="flex w-full max-w-[800px] flex-col gap-4 pt-5 pb-32 lg:pb-6">
    <app-poll-question-card
        [mode]="mode()"
        [question]="question()"
        (questionChange)="questionChange.emit($event)"
        [description]="description()"
        (descriptionChange)="descriptionChange.emit($event)"
        [isClosed]="isClosed()"
    />

    <app-poll-options
        [titleKey]="
            optionType() === OptionType.Date
                ? 'project.pollInput.date.answerOptions'
                : optionType() === OptionType.Rating
                  ? 'project.pollInput.rating.answerOptions'
                  : 'project.pollInput.yesNo.answerOptions'
        "
        [subtitleKey]="
            optionType() === OptionType.Date
                ? 'project.pollInput.date.minOptions'
                : 'project.pollInput.yesNo.minOptions'
        "
        [optionType]="optionType()"
        [options]="options()"
        [dateOptions]="dateOptions()"
        [appointmentDateType]="appointmentDateType()"
        [readonly]="isClosed()"
        (appointmentDateTypeSelected)="appointmentDateTypeChange.emit($event)"
        (add)="add.emit()"
        (remove)="remove.emit($event)"
        (weekdayToggle)="weekdayToggle.emit($event)"
        (optionsChange)="optionsChange.emit($event)"
        (dateOptionsChange)="dateOptionsChange.emit($event)"
    />

    <app-poll-close-settings
        [mode]="mode()"
        [closeDate]="closeDate()"
        (closeDateChange)="closeDateChange.emit($event)"
        [isClosed]="isClosed()"
        [closedAt]="closedAt()"
        (closePollNow)="closePollNow.emit()"
        (reopenPoll)="reopenPoll.emit()"
    />
</div>

@if (!hideCta()) {
    <div
        data-testid="submit-bar"
        class="fixed bottom-0 left-0 z-50 flex w-full justify-center bg-[linear-gradient(to_top,var(--bg-app)_46%,rgba(244,241,236,0)_100%)] px-[18px] pt-[14px] pb-[22px]"
    >
        <ds-button
            variant="primary"
            [fullWidth]="true"
            [disabled]="!isValid()"
            [icon]="mode() !== 'edit' ? 'send' : undefined"
            (click)="formSubmit.emit()"
        >
            {{
                mode() !== 'edit'
                    ? ('project.pollInput.createPoll' | translate)
                    : ('project.pollInput.updatePoll' | translate)
            }}
        </ds-button>
    </div>
}
