@let _project = project();

<p-card
  data-testid="project-item-card"
  class="cursor-pointer"
  [routerLink]="['/project/detail', _project.id]"
>
  <div class="flex items-start justify-between gap-3 w-full">
    <div>
      <span hlmBadge class="-ml-[2px]">{{
        "project.overview.item.by" | translate: { name: _project.creator }
      }}</span>
      <p class="p-card-title mb-4 mt-1">{{ _project.name }}</p>
      <p class="ds-body mb-2">
        {{ _project.description }}
      </p>
      <p class="opacity-60 mx-auto mt-1 ds-body">
        {{ _project.lastUpdated | timeSince }}
      </p>
    </div>
    @if (canEdit()) {
      <div (click)="$event.stopPropagation()">
        <p-button
          icon="fa-solid fa-ellipsis-vertical"
          [text]="true"
          data-testid="project-menu-btn"
          [hlmDropdownMenuTrigger]="projectMenu"
        />
        <ng-template #projectMenu>
          <hlm-dropdown-menu>
            <button hlmDropdownMenuItem [routerLink]="'/project/edit/' + project().id">
              <i class="fa-solid fa-pen mr-2"></i>{{ editLabel() }}
            </button>
            @if (canShare()) {
              <button hlmDropdownMenuItem (click)="shareRequested.emit()">
                <i class="fa-solid fa-share-nodes mr-2"></i>{{ shareLabel() }}
              </button>
            }
            <button hlmDropdownMenuItem (click)="deletionRequested.emit()">
              <i class="fa-regular fa-trash-can mr-2"></i>{{ deleteLabel() }}
            </button>
          </hlm-dropdown-menu>
        </ng-template>
      </div>
    }
  </div>
</p-card>
