@let _project = project();

<p-card
  data-testid="project-item-card"
  class="tw:cursor-pointer"
  [routerLink]="['/project/detail', _project.id]"
>
  <div class="tw:flex tw:items-start tw:justify-between tw:gap-3 tw:w-full">
    <div>
      <p-tag class="tw:-ml-[2px]">{{
        "project.overview.item.by" | translate: { name: _project.creator }
      }}</p-tag>
      <p class="p-card-title tw:mb-4 tw:mt-1">{{ _project.name }}</p>
      <p class="ds-body tw:mb-2">
        {{ _project.description }}
      </p>
      <p class="tw:opacity-60 tw:mx-auto tw:mt-1 ds-body">
        {{ _project.lastUpdated | timeSince }}
      </p>
    </div>
    @if (canEdit()) {
      <div>
        <p-button
          icon="fa-solid fa-ellipsis-vertical"
          [text]="true"
          data-testid="project-menu-btn"
          (click)="$event.stopPropagation(); menu.toggle($event)"
        />
        <p-menu #menu [model]="menuItems()" [popup]="true" appendTo="body" />
      </div>
    }
  </div>
</p-card>
