<div
  class="flex-1 bg-surface-100 flex flex-1 items-center justify-center overflow-hidden"
>
  <img
    [src]="imageUrl()"
    alt="preview-image"
    class="w-full h-full object-cover"
  />
</div>

<div class="p-6 flex flex-col gap-1">
  <p class="text-base font-semibold text-surface-900 leading-snug">
    {{ text() }}
  </p>
  @if (description()) {
    <p class="text-sm text-surface-500">
      {{ description() }}
    </p>
  }
  @if (link()) {
    <p-button
      class="mx-auto"
      [label]="'project.vote.openLink' | translate"
      icon="fa-solid fa-arrow-up-right-from-square"
      size="small"
      variant="outlined"
      (click)="openLink(link())"
    />
  }
</div>
