<div hlmCard>
  <div hlmCardContent>
  <div class="flex items-start gap-2">
    <div class="flex flex-col gap-2 flex-1">
      <div class="flex flex-col gap-1">
        <label class="text-xs font-semibold text-gray-600">
          {{ "project.pollInput.date.startTime" | translate }}
        </label>
        <input
          hlmInput
          type="time"
          step="900"
          [value]="getTimeValue(option().startTime)"
          (change)="onStartTimeChange($event)"
          [name]="'time-range-start-' + index()"
        />
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-xs font-semibold text-gray-600">
          {{ "project.pollInput.date.endTime" | translate }}
        </label>
        <input
          hlmInput
          type="time"
          step="900"
          [value]="getTimeValue(option().endTime)"
          (change)="setEndTime($event)"
          [name]="'time-range-end-' + index()"
        />
      </div>
    </div>

    @if (canRemove()) {
      <button hlmBtn type="button" variant="ghost" size="icon" (click)="remove.emit()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    }
  </div>
  </div>
</div>
