<div
    class="flex flex-col gap-3 rounded-[var(--radius-3xl)] border-[1.5px] border-dashed border-[var(--border-dashed)] bg-[var(--surface-card)] p-3"
    data-testid="add-option-panel"
>
    @if (usesCalendar()) {
        <app-date-option-picker
            [value]="dateDraft()"
            [existing]="existingDates()"
            [showTime]="showTime()"
            [duplicate]="isDuplicate()"
            (valueChange)="dateDraft.set($event)"
        />
    } @else if (isDateType()) {
        @switch (dateType()) {
            @case ('weekday') {
                <app-option-card-weekday
                    [option]="dateDraft()"
                    [index]="0"
                    [bare]="true"
                    [initialShowTime]="showTime()"
                    (optionChange)="dateDraft.set($event)"
                />
            }
            @case ('date-range') {
                <app-option-card-date-range
                    [option]="dateDraft()"
                    [index]="0"
                    [bare]="true"
                    [initialShowTime]="showTime()"
                    (optionChange)="dateDraft.set($event)"
                />
            }
            @case ('time') {
                <app-option-card-time
                    [option]="dateDraft()"
                    [index]="0"
                    [bare]="true"
                    (optionChange)="dateDraft.set($event)"
                />
            }
            @case ('time-range') {
                <app-option-card-time-range
                    [option]="dateDraft()"
                    [index]="0"
                    [bare]="true"
                    (optionChange)="dateDraft.set($event)"
                />
            }
        }
    } @else {
        <app-option-card
            [option]="textDraft()"
            [index]="0"
            [bare]="true"
            [confirmOnEnter]="true"
            (optionChange)="textDraft.set($event)"
            (confirm)="submit()"
            (previewPendingChange)="onPreviewPendingChange($event)"
        />
    }

    <div class="grid grid-cols-[auto_1fr] gap-2">
        <ds-button variant="outline" (click)="cancelled.emit()">
            {{ 'project.common.cancel' | translate }}
        </ds-button>
        <ds-button
            variant="primary"
            data-testid="add-option-submit"
            [fullWidth]="true"
            [disabled]="!isValid()"
            [loading]="submitting() || submitQueued()"
            (click)="submit()"
        >
            {{
                (isDateType()
                    ? 'project.pollInput.date.addOption'
                    : 'project.results.addOption'
                ) | translate
            }}
        </ds-button>
    </div>
</div>
