<div class="flex items-center gap-6">
  <div class="flex flex-col items-center gap-1">
    <app-analog-clock [time]="entry().startTime!" [size]="90" />
    <p class="text-[32px] font-semibold">
      {{ formatTimeOnly(entry().startTime!) }}
    </p>
  </div>
  <span class="text-[32px] font-light">–</span>
  <div class="flex flex-col items-center gap-1">
    <app-analog-clock [time]="entry().endTime!" [size]="90" />
    <p class="text-[32px] font-semibold">
      {{ formatTimeOnly(entry().endTime!) }}
    </p>
  </div>
</div>
