@let _poll = poll();

<app-side-color-card
  [color]="_poll.optionType | hierarchyByType"
  class="tw:cursor-pointer"
>
  <div class="tw:flex tw:items-start tw:justify-between tw:mb-4 tw:gap-3">
    <div>
      <app-topic-type-icon [type]="_poll.optionType" />
    </div>
    <div class="tw:flex tw:flex-col tw:flex-1">
      <h3>{{ _poll.name }}</h3>
      @if (_poll.description) {
        <p class="label-sm tw:mt-1">{{ _poll.description }}</p>
      }
      <div class="tw:flex tw:items-center tw:gap-3 tw:mt-2">
        <span
          [pTooltip]="
            'project.detail.item.options'
              | translate: { count: _poll.optionCount }
          "
          tooltipPosition="top"
          class="tw:flex tw:items-center tw:gap-1 label-sm tw:cursor-default"
        >
          <i class="fa-solid fa-list"></i>
          <span>{{ _poll.optionCount }}</span>
        </span>
        <p-button
          [text]="true"
          size="small"
          icon="fa-regular fa-comments"
          [label]="_poll.commentCount.toString()"
          [pTooltip]="
            'project.detail.item.comments'
              | translate: { count: _poll.commentCount }
          "
          tooltipPosition="top"
          [routerLink]="[
            '/project/detail',
            _poll.projectId,
            'votes-overview',
            _poll.pollId,
          ]"
          fragment="comments-section"
        />
      </div>
    </div>
    <p-button
      icon="fa-solid fa-ellipsis-vertical"
      [text]="true"
      (click)="menu.toggle($event)"
    />
    <p-menu #menu [model]="menuItems()" [popup]="true" appendTo="body" />
  </div>

  <div class="p-fluid">
    <p-button
      [severity]="_poll.nextOpenOptionId ? 'primary' : 'secondary'"
      class="tw:flex tw:w-full"
      [routerLink]="
        _poll.nextOpenOptionId
          ? [
              '/project/detail',
              _poll.projectId,
              'vote',
              _poll.pollId,
              _poll.nextOpenOptionId,
            ]
          : [
              '/project/detail',
              _poll.projectId,
              'votes-overview',
              _poll.pollId,
            ]
      "
      [label]="
        _poll.nextOpenOptionId
          ? ('project.common.vote' | translate)
          : ('project.detail.item.pollOverview' | translate)
      "
    />
  </div>
</app-side-color-card>
