<div class="ds-input-wrap">
  @if (label()) {
    <label class="ds-input-label">{{ label() }}</label>
  }
  <input
    hlmInput
    [type]="type()"
    [value]="value()"
    [placeholder]="placeholder()"
    [disabled]="isDisabled()"
    [readOnly]="readonly()"
    [style.background]="background()"
    [class.ds-input--error]="!!error()"
    [class.ds-input--readonly]="readonly()"
    class="ds-input"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  />
  @if (error()) {
    <span class="ds-input-error">{{ error() }}</span>
  }
</div>
