@import "primeicons/primeicons.css";
@import "tailwindcss" prefix(tw);
@import "@fontsource/plus-jakarta-sans/300.css";
@import "@fontsource/plus-jakarta-sans/400.css";
@import "@fontsource/plus-jakarta-sans/500.css";
@import "@fontsource/plus-jakarta-sans/700.css";

:root {
}

@theme {
  --color-error: #ad3448;
  --color-primary: #4797bf;
  --color-primary-dark: #397999;
  --color-secondary: #627d8b;
  --color-tertiary: #e8af63;
  --color-neutral: #1a1c1e;
  --color-on-surface-variant: #404944;
}

html,
body {
  --color-error: #ad3448;
  --color-primary: #4797bf;
  --color-primary-dark: #397999;
  --color-secondary: #627d8b;
  --color-tertiary: #e8af63;
  --color-neutral: #1a1c1e;
  --color-on-surface-variant: #404944;

  font-family: "Plus Jakarta Sans", sans-serif;

  height: 100%;
  width: 100%;

  /* button */
  --p-button-border-radius: 100px;
  --p-inputgroup-addon-border-radius: 100px;
  --p-button-padding-x: 40px;
  --p-button-padding-y: 12px;

  --p-panel-border-radius: 12px;
  --p-disabled-opacity: 0.4;

  p-button.small {
    --p-button-padding-x: 12px;
    --p-button-padding-y: 2px;
  }

  p-tag.p-tag {
    background-color: #86bba133;
    font-weight: normal;
    font-size: 80%;
  }
}

.p-inputgroup:has(> p-button:last-child) .p-button {
  border-radius: 0px;
  border-start-end-radius: var(--p-inputgroup-addon-border-radius);
  border-end-end-radius: var(--p-inputgroup-addon-border-radius);
}

h1 {
  font-size: 20px;
  line-height: 1.4;
}

h2 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  line-height: 20px;
}

p.label-sm {
  font-size: 14px;
  line-height: 1.2;
}

.p-fluid button {
  width: 100%;
}

.p-condensed button {
  padding: 4px;
}

input.invalid {
  border-color: red;
}
