@import "primeicons/primeicons.css";
@import "tailwindcss" prefix(tw);
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
}

@theme {
  --color-main-blue: #6d9bdf;
  --color-main-blue-big: #6d9bdf;
  --color-error: #ad3448;
}

html,
body {
  --color-main-blue: #6d9bdf;
  --color-main-blue-hover: #235cb1;

  font-family: "Roboto", sans-serif;

  height: 100%;
  width: 100%;

  /* button */
  --p-button-border-radius: 12px;
  --p-button-padding-x: 40px;
  --p-button-primary-background: var(--color-main-blue);
  --p-button-primary-border-color: transparent;
  --p-button-primary-hover-border-color: transparent;
  --p-button-primary-active-border-color: transparent;

  --p-button-primary-hover-color: white;
  --p-button-primary-hover-background: var(--color-main-blue-hover);

  --p-panel-border-radius: 0;

  p-button.small {
    --p-button-padding-x: 12px;
    --p-button-padding-y: 2px;
  }

  .main-blue-big {
    background: linear-gradient(
      225deg,
      #7aa6e6 0%,
      #6d9bdf 35%,
      #638fd6 65%,
      #557fc4 100%
    );
  }

  .main-bg-content {
    --p-button-primary-background: white;
    --p-button-primary-hover-background: var(--color-main-blue-hover);
    --p-button-primary-active-background: white;

    --p-button-primary-color: var(--color-main-blue);
    --p-button-primary-hover-color: var(--color-main-blue);
    --p-button-primary-active-color: var(--color-main-blue);

    .p-panel-content {
      display: flex;
      flex-direction: column;
    }
  }

  .p-card {
    box-shadow: none;
    background: var(--color-main-blue);

    &:hover {
      background: var(--color-main-blue-hover);
    }

    .p-card-body {
      height: 100%;
      padding: 0;

      .p-card-content {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }
}

input.invalid {
  border-color: red;
}
