<div class="tw:flex tw:h-full tw:max-h-full tw:flex-col tw:mx-4">
  @if (project(); as project) {
    @if (project.description) {
      <p class="tw:mb-8">
        {{ project.description }}
      </p>
    }

    <div class="tw:mb-8">
      <div class="tw:flex tw:items-center tw:justify-between tw:mb-4">
        <h2>Members</h2>
        <p-button
          icon="pi pi-user-plus"
          label="Invite"
          severity="secondary"
          size="small"
          (click)="showShare.set(true)"
        />
      </div>
      @if (project.sharedWith.length > 0) {
        <p-avatar-group>
          @for (member of project.sharedWith; track member.name) {
            <p-avatar
              [image]="member.picture ?? undefined"
              [label]="
                member.picture ? undefined : member.name[0].toUpperCase()
              "
              shape="circle"
              size="large"
              [pTooltip]="member.name"
              tooltipPosition="bottom"
            />
          }
        </p-avatar-group>
      } @else {
        <p class="tw:text-sm tw:text-gray-500">No other members yet.</p>
      }
    </div>

    @if (topics()?.length ?? 0 > 0) {
      <h2 class="tw:mb-4">Current topics</h2>

      <div class="tw:flex tw:flex-col tw:gap-4">
        @for (topic of topics(); track topic.id) {
          <app-project-detail-item
            [projectId]="project.id"
            [topic]="topic"
            (deletionRequested)="showDeleteTopicDialog(topic.id, topic.name)"
          />
        }
      </div>
    }

    <h2 class="tw:mb-4 tw:mt-8">Create new topic</h2>
    <div class="tw:grid tw:grid-cols-3 tw:gap-4 tw:pb-8">
      <app-add-card
        description="Appointment"
        icon="pi-calendar"
        [disabled]="true"
      />
      <app-add-card
        description="Yes/No"
        icon="pi-check-square"
        [routerLink]="['/project/detail', project.id, 'topic', 'add', 'yesno']"
      />
      <app-add-card description="Rating" icon="pi-star" [disabled]="true" />
    </div>
  }
</div>

<p-confirmdialog />

<p-dialog
  header="Share"
  [modal]="true"
  [(visible)]="showShare"
  [style]="{ width: '25rem' }"
>
  <div class="tw:flex tw:items-center tw:gap-4 tw:mb-4">
    <label for="email" class="tw:font-semibold tw:w-24">Email</label>
    <input
      pInputText
      id="email"
      type="email"
      class="tw:flex-auto"
      autocomplete="off"
      [(ngModel)]="email"
    />
  </div>

  <p-select
    appendTo="body"
    [options]="availablePermissions"
    [(ngModel)]="selectedPermission"
    optionLabel="name"
    optionValue="id"
    placeholder="Permission"
    class="tw:w-full tw:mb-2"
  />

  <div class="tw:flex tw:justify-end tw:gap-2">
    <p-button
      label="Cancel"
      severity="secondary"
      (click)="showShare.set(false)"
    />
    <p-button label="Share" (click)="share()" [disabled]="!email()" />
  </div>
</p-dialog>
