<div class="tw:flex tw:h-full tw:max-h-full tw:flex-col tw:mx-4">
  @if (project(); as project) {
    @if (project.description) {
      <p class="tw:text-on-surface-variant tw:mb-8">
        {{ project.description }}
      </p>
    }

    @if (topics()?.length ?? 0 > 0) {
      <h2 class="tw:mb-4">Current topics</h2>

      <div class="tw:flex tw:flex-col tw:gap-4">
        @for (topic of topics(); track topic.id) {
          <app-project-detail-item
            [projectId]="project.id"
            [topic]="topic"
            (deletionRequested)="showDeleteTopicDialog(topic.id, topic.name)"
          />
        }
      </div>
    }

    <h2 class="tw:mb-4 tw:mt-8">Create new topic</h2>
    <div class="tw:grid tw:grid-cols-3 tw:gap-4 tw:pb-8">
      <app-add-card
        description="Appointment"
        icon="pi-calendar"
        [disabled]="true"
      />
      <app-add-card description="Yes/No" icon="pi-check-square" />
      <app-add-card description="Rating" icon="pi-star" [disabled]="true" />
    </div>
  }
</div>

<p-confirmdialog />

<p-dialog
  header="Add topic"
  [modal]="true"
  [(visible)]="showAddTopicDialog"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary tw:block tw:mb-8"
    >A topic is a specific thing that you want to decide like &quot;What color
    should the bedroom walls be&quot;</span
  >
  <div class="tw:flex tw:items-center tw:gap-4 tw:mb-4">
    <label for="topic" class="tw:font-semibold tw:w-24">Topic</label>
    <input
      pInputText
      id="topic"
      class="tw:flex-auto"
      autocomplete="off"
      [(ngModel)]="topic"
    />
  </div>
  <div class="tw:flex tw:justify-end tw:gap-2">
    <p-button
      label="Cancel"
      severity="secondary"
      (click)="showAddTopicDialog.set(false)"
    />
    <p-button label="Add topic" (click)="addTopic()" [disabled]="!topic()" />
  </div>
</p-dialog>

<p-dialog
  header="Currently shared with"
  [modal]="true"
  [(visible)]="showShareOverviewDialog"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary tw:block tw:mb-8">Currently shared with</span>
  <p-dataview [value]="project()?.sharedWith">
    <ng-template #list let-sharedWith>
      @for (sharedWith of sharedWith; track sharedWith.name) {
        <div class="tw:flex tw:h-8">
          <div class="tw:w-[200px]">
            {{ sharedWith.name }}
          </div>
          <div>
            {{ sharedWith.role | projectRoleToName }}
          </div>
        </div>
      }
    </ng-template>
  </p-dataview>

  <div class="tw:ml-auto tw:mr-0">
    <p-button label="Add" (click)="showAdditionalShareDialog()" />
  </div>
  <div class="tw:flex tw:justify-end tw:gap-2">
    <p-button
      label="Close"
      severity="secondary"
      (click)="showShareOverviewDialog.set(false)"
    />
  </div>
</p-dialog>

<p-dialog
  header="Share"
  [modal]="true"
  [(visible)]="showShare"
  [style]="{ width: '25rem' }"
>
  <div class="tw:flex tw:items-center tw:gap-4 tw:mb-4">
    <label for="email" class="tw:font-semibold tw:w-24">Email</label>
    <input
      pInputText
      id="email"
      type="email"
      class="tw:flex-auto"
      autocomplete="off"
      [(ngModel)]="email"
    />
  </div>

  <p-select
    appendTo="body"
    [options]="availablePermissions"
    [(ngModel)]="selectedPermission"
    optionLabel="name"
    optionValue="id"
    placeholder="Permission"
    class="tw:w-full tw:mb-2"
  />

  <div class="tw:flex tw:justify-end tw:gap-2">
    <p-button
      label="Cancel"
      severity="secondary"
      (click)="showShare.set(false)"
    />
    <p-button label="Share" (click)="share()" [disabled]="!email()" />
  </div>
</p-dialog>
