@switch (type()) {
  @case (OptionType.YesNo) {
    <div class="tw:bg-primary/20 tw:p-3 tw:rounded-[8px]">
      <i class="fa-regular fa-square-check tw:text-primary-dark"></i>
    </div>
  }
  @case (OptionType.Date) {
    <div class="tw:bg-secondary/20 tw:p-3 tw:rounded-[8px]">
      <i class="fa-regular fa-calendar tw:text-secondary"></i>
    </div>
  }
  @case (OptionType.Rating) {
    <div class="tw:bg-tertiary/20 tw:p-3 tw:rounded-[8px]">
      <i class="fa-regular fa-star tw:text-tertiary"></i>
    </div>
  }
  @default {
    <div class="tw:bg-primary/20 tw:p-3 tw:rounded-[8px]">
      <i class="fa-solid fa-question tw:text-primary-dark"></i>
    </div>
  }
}
