<div
    hlmToggleGroup
    type="single"
    [value]="value()"
    (valueChange)="onValueChange($event)"
    class="ds-seg-track"
    [style]="pillStyle()"
>
    @for (opt of options(); track opt.value) {
        <button
            hlmToggleGroupItem
            [value]="opt.value"
            class="ds-seg-btn"
            [class.ds-seg-btn--sm]="size() === 'sm'"
        >
            @if (opt.icon) {
                <ds-icon [name]="opt.icon" [size]="14" />
            }
            {{ opt.label }}
        </button>
    }
</div>
