<div class="tw:pb-28 tw:flex tw:flex-col tw:gap-3 tw:mx-4">
  <div class="tw:flex tw:flex-col tw:gap-1">
    <label class="tw:text-sm tw:font-semibold tw:px-1" for="question">
      {{ "project.pollInput.yesNo.question" | translate }}
    </label>
    <div
      class="tw:bg-gray-50 tw:rounded-xl tw:border tw:border-transparent tw:transition-all tw:duration-300"
    >
      <input
        pInputText
        id="question"
        name="question"
        class="tw:w-full tw:bg-transparent"
        autocomplete="off"
        [placeholder]="
          'project.pollInput.yesNo.questionPlaceholder' | translate
        "
        [ngModel]="question()"
        (ngModelChange)="questionChange.emit($event)"
      />
    </div>
  </div>

  <div class="tw:flex tw:flex-col tw:gap-1">
    <label class="tw:text-sm tw:font-semibold tw:px-1" for="description">
      {{ "project.pollInput.yesNo.description" | translate }}
    </label>
    <app-auto-resize-textarea
      name="description"
      inputId="description"
      [maxlength]="200"
      [placeholder]="
        'project.pollInput.yesNo.descriptionPlaceholder' | translate
      "
      [ngModel]="description()"
      (ngModelChange)="descriptionChange.emit($event)"
    />
  </div>

  <app-poll-options
    [titleKey]="
      optionType() === OptionType.Date
        ? 'project.pollInput.date.answerOptions'
        : 'project.pollInput.yesNo.answerOptions'
    "
    [subtitleKey]="
      optionType() === OptionType.Date
        ? 'project.pollInput.date.minOptions'
        : 'project.pollInput.yesNo.minOptions'
    "
    [optionType]="optionType()"
    [options]="options()"
    [dateOptions]="dateOptions()"
    [appointmentDateType]="appointmentDateType()"
    (appointmentDateTypeSelected)="appointmentDateTypeChange.emit($event)"
    (add)="add.emit()"
    (remove)="remove.emit($event)"
    (weekdayToggle)="weekdayToggle.emit($event)"
  />
</div>

<div
  class="tw:fixed tw:bottom-0 tw:left-0 tw:w-full tw:z-50 tw:bg-white/80 tw:backdrop-blur-md tw:p-4 tw:flex tw:justify-center p-fluid"
>
  <p-button
    class="tw:w-full tw:max-w-md"
    [label]="
      mode() !== 'edit'
        ? ('project.pollInput.createPoll' | translate)
        : ('project.pollInput.updatePoll' | translate)
    "
    [icon]="
      mode() !== 'edit'
        ? 'fa-regular fa-paper-plane'
        : 'fa-regular fa-floppy-disk'
    "
    [disabled]="!isValid()"
    (click)="formSubmit.emit()"
  />
</div>
