<div class="pb-28 flex flex-col gap-3 mx-4">
  <div class="flex flex-col gap-1">
    <label class="text-sm font-semibold px-1" for="question">
      {{ "project.pollInput.yesNo.question" | translate }}
    </label>
    <div
      class="bg-gray-50 rounded-xl border border-transparent transition-all duration-300"
    >
      <input
        hlmInput
        id="question"
        name="question"
        class="w-full bg-transparent"
        autocomplete="off"
        [placeholder]="
          'project.pollInput.yesNo.questionPlaceholder' | translate
        "
        [ngModel]="question()"
        (ngModelChange)="questionChange.emit($event)"
      />
    </div>
  </div>

  @if (showDescription()) {
    <app-auto-resize-textarea
      #descriptionTextarea
      name="description"
      inputId="description"
      [maxlength]="200"
      [placeholder]="
        'project.pollInput.yesNo.descriptionPlaceholder' | translate
      "
      [ngModel]="description()"
      (ngModelChange)="descriptionChange.emit($event)"
      (blur)="onDescriptionBlur()"
    />
  }
  @if (!showDescription()) {
    <button
      type="button"
      class="flex items-center gap-1 text-sm text-gray-400 cursor-pointer hover:text-primary transition-colors bg-transparent border-0 p-0"
      (click)="toggleDescription()"
    >
      <i class="fa-solid fa-plus" style="font-size: 11px"></i>
      {{ "project.pollInput.yesNo.addDescription" | translate }}
    </button>
  }

  <app-poll-options
    [titleKey]="
      optionType() === OptionType.Date
        ? 'project.pollInput.date.answerOptions'
        : 'project.pollInput.yesNo.answerOptions'
    "
    [subtitleKey]="
      optionType() === OptionType.Date
        ? 'project.pollInput.date.minOptions'
        : 'project.pollInput.yesNo.minOptions'
    "
    [optionType]="optionType()"
    [options]="options()"
    [dateOptions]="dateOptions()"
    [appointmentDateType]="appointmentDateType()"
    (appointmentDateTypeSelected)="appointmentDateTypeChange.emit($event)"
    (add)="add.emit()"
    (remove)="remove.emit($event)"
    (weekdayToggle)="weekdayToggle.emit($event)"
  />
</div>

<div
  class="fixed bottom-0 left-0 w-full z-50 bg-white/80 backdrop-blur-md p-4 flex justify-center p-fluid"
>
  <p-button
    class="w-full max-w-md"
    [label]="
      mode() !== 'edit'
        ? ('project.pollInput.createPoll' | translate)
        : ('project.pollInput.updatePoll' | translate)
    "
    [icon]="
      mode() !== 'edit'
        ? 'fa-regular fa-paper-plane'
        : 'fa-regular fa-floppy-disk'
    "
    [disabled]="!isValid()"
    (click)="formSubmit.emit()"
  />
</div>
