@if (optionType() === undefined) {
  <app-poll-type-selection (typeSelected)="optionType.set($event)" />
} @else {
  <app-poll-input-form
    [optionType]="optionType()!"
    [mode]="mode()"
    [isValid]="isValid()"
    [question]="question()"
    (questionChange)="question.set($event)"
    [description]="description()"
    (descriptionChange)="description.set($event)"
    [closeDate]="closeDate()"
    (closeDateChange)="closeDate.set($event)"
    [options]="options()"
    [dateOptions]="dateOptions()"
    [appointmentDateType]="appointmentDateType()"
    (appointmentDateTypeChange)="onAppointmentDateTypeChange($event)"
    (add)="addOption()"
    (remove)="removeOption($event)"
    (weekdayToggle)="toggleWeekday($event)"
    (formSubmit)="submit()"
  />
}
