@if (canClosePoll()) {
  <div class="px-[18px] pt-4">
    <ds-button
      variant="danger"
      [fullWidth]="true"
      icon="lock"
      data-testid="close-poll-btn"
      (click)="closePollNow()"
    >
      {{ 'project.pollInput.closePollNow' | translate }}
    </ds-button>
  </div>
}
@if (canReopenPoll()) {
  <div class="px-[18px] pt-4">
    <ds-button
      variant="outline"
      [fullWidth]="true"
      data-testid="reopen-poll-btn"
      (click)="reopenPollNow()"
    >
      {{ 'project.pollInput.reopenPoll' | translate }}
    </ds-button>
  </div>
}

@if (optionType() === undefined) {
  <app-poll-type-selection (typeSelected)="onTypeSelected($event)" />
} @else {
  <app-poll-input-form
    [optionType]="optionType()!"
    [mode]="mode()"
    [isValid]="isValid()"
    [question]="question()"
    (questionChange)="question.set($event)"
    [description]="description()"
    (descriptionChange)="description.set($event)"
    [closeDate]="closeDate()"
    (closeDateChange)="closeDate.set($event)"
    [options]="options()"
    [dateOptions]="dateOptions()"
    [appointmentDateType]="appointmentDateType()"
    (appointmentDateTypeChange)="onAppointmentDateTypeChange($event)"
    (add)="addOption()"
    (remove)="removeOption($event)"
    (weekdayToggle)="toggleWeekday($event)"
    (formSubmit)="submit()"
  />
}
