<div
    class="grid grid-cols-[repeat(auto-fill,minmax(min(100%,430px),1fr))] gap-4"
    data-testid="results-option-list"
>
    @for (option of sortedOptions(); track option.id) {
        @if (isDateType()) {
            <app-option-card-date
                [option]="option"
                [dateType]="dateType()!"
                [members]="members()"
                [commentCount]="commentCount(option)"
                [isMostVoted]="hasMostVotes(option)"
                [projectId]="projectId()"
                [pollId]="pollId()"
                [hideResults]="hideResults()"
                (commentsClick)="openComments.emit(option)"
                (startVote)="startVote.emit($event)"
            />
        } @else {
            <app-option-card
                [option]="option"
                [members]="members()"
                [commentCount]="commentCount(option)"
                [isMostVoted]="hasMostVotes(option)"
                [projectId]="projectId()"
                [pollId]="pollId()"
                [hideResults]="hideResults()"
                [pollType]="
                    optionType() === OptionType.Rating ? 'rating' : 'yesno'
                "
                (commentsClick)="openComments.emit(option)"
                (saveEdit)="saveEdit.emit($event)"
                (deleteOption)="deleteOption.emit($event)"
                (startVote)="startVote.emit($event)"
            />
        }
    }
</div>
