<ds-card [accentBorder]="false" [padding]="14">
  <div class="flex items-start gap-2">
    <div class="flex flex-col gap-1 flex-1">
      <label class="text-[length:var(--fs-caption)] font-bold text-[color:var(--text-secondary)]">
        {{ 'project.pollInput.date.startTime' | translate }}
      </label>
      <ds-input
        type="time"
        [ngModel]="timeValue"
        (ngModelChange)="setStartTime($event)"
        [name]="'time-' + index()"
        [readonly]="readonly()"
      />
    </div>

    @if (canRemove()) {
      <ds-button [size]="32" variant="ghost" icon="close" (click)="remove.emit()" />
    }
  </div>
</ds-card>
