:host {
  display: block;
  height: 100%;
}

[data-slot="card"] {
  height: 100%;
  box-shadow: none;
  background: transparent;
  border: 2px dashed var(--color-primary);
  transition-duration: 300ms;

  &:hover {
    background: color-mix(in srgb, var(--color-primary) 6%, transparent);
  }

  &.icon-left {
    --card-spacing: 0.5rem;
  }
}
