<div hlmCard
  class="add-card transition-transform select-none"
  [class.opacity-40]="disabled()"
  [class.cursor-pointer]="!disabled()"
  [class.cursor-not-allowed]="disabled()"
  [class.active:scale-[0.97]]="!disabled()"
  [class.icon-left]="iconLeft()"
  (click)="!disabled() && action.emit()"
>
  <div hlmCardContent>
    @if (iconLeft()) {
      <div
        class="flex flex-col items-center justify-center text-center"
      >
        <div class="flex items-center gap-3">
          <span
            class="flex bg-primary/20 items-center justify-center size-7 rounded-full text-primary-dark shrink-0"
          >
            <i class="fa-solid text-xs" [class]="icon()"></i>
          </span>
          @if (cto()) {
            <p class="m-0 font-semibold text-base">{{ cto() }}</p>
          }
        </div>
        @if (description()) {
          <p class="ds-body m-0 mt-1">
            {{ description() }}
          </p>
        }
      </div>
    } @else {
      <div
        class="flex flex-col items-center justify-center text-center"
      >
        <span
          class="flex items-center justify-center w-13 h-13 rounded-full text-primary-dark mb-3"
          style="
            background: color-mix(in srgb, var(--color-primary) 15%, transparent);
          "
        >
          <i class="fa-solid" [class]="icon()"></i>
        </span>
        @if (cto()) {
          <p class="font-semibold text-base">{{ cto() }}</p>
        }
        @if (description()) {
          <p class="ds-body m-0 mt-1">
            {{ description() }}
          </p>
        }
      </div>
    }
  </div>
</div>
