<h2 class="tw:mb-0">
  {{ "project.projectsTab.title" | translate }}
</h2>
<p class="tw:opacity-60 tw:mt-1 tw:mb-6">
  {{ "project.projectsTab.subtitle" | translate }}
</p>

<div class="tw:grid tw:gap-4 tw:grid-cols-auto-fit tw:pb-8">
  @for (project of projects(); track project.id) {
    <app-project-item
      [project]="project"
      (deletionRequested)="deletionRequested.emit(project)"
      (shareRequested)="shareRequested.emit(project.id)"
    />
  }
  <app-add-card
    [cto]="'project.overview.addNew.cto' | translate"
    [description]="'project.overview.addNew.description' | translate"
    (action)="navigateToAdd()"
  />
</div>
