<hlm-popover sideOffset="5" [state]="popoverOpen()" (stateChanged)="popoverOpen.set($event)">
  <button hlmBtn hlmPopoverTrigger variant="outline" type="button">
    <i class="fa-regular fa-comment"></i>
    {{ 'project.vote.addComment' | translate }}
  </button>
  <hlm-popover-content class="flex flex-col gap-3 min-w-64" *hlmPopoverPortal="let ctx">
    <input
      hlmInput
      type="text"
      [(ngModel)]="commentText"
      [placeholder]="'project.vote.commentPlaceholder' | translate"
      class="w-full"
    />
    <div class="flex gap-2 justify-end">
      <button hlmBtn variant="ghost" size="sm" (click)="cancelComment()">
        {{ 'project.common.cancel' | translate }}
      </button>
      <button hlmBtn size="sm" (click)="submitComment()">
        {{ 'project.vote.submitComment' | translate }}
      </button>
    </div>
  </hlm-popover-content>
</hlm-popover>
