<hlm-popover sideOffset="5" [state]="popoverOpen()" (stateChanged)="popoverOpen.set($event)">
  <ds-button hlmPopoverTrigger variant="subtle" size="sm" icon="comment">
    {{ 'project.vote.addComment' | translate }}
  </ds-button>
  <hlm-popover-content class="flex flex-col gap-3 min-w-64" *hlmPopoverPortal="let ctx">
    <input
      hlmInput
      type="text"
      [(ngModel)]="commentText"
      [placeholder]="'project.vote.commentPlaceholder' | translate"
      [attr.maxlength]="limits.commentContentLength"
      class="w-full"
    />
    <div class="flex gap-2 justify-end">
      <ds-button variant="ghost" size="sm" (click)="cancelComment()">
        {{ 'project.common.cancel' | translate }}
      </ds-button>
      <ds-button variant="primary" size="sm" (click)="submitComment()">
        {{ 'project.vote.submitComment' | translate }}
      </ds-button>
    </div>
  </hlm-popover-content>
</hlm-popover>
