<div
  class="tw:pointer-events-none tw:flex tw:flex-col tw:items-center tw:gap-2"
>
  <p-datepicker
    [ngModel]="selectedDate()"
    [inline]="true"
    [readonlyInput]="true"
    [firstDayOfWeek]="1"
  >
    <ng-template #date let-date>
      @if (isOtherDate(date)) {
        <span
          class="tw:flex tw:w-full tw:h-full tw:rounded-full tw:bg-primary/20 tw:items-center tw:justify-center tw:text-primary/60"
        >
          {{ date.day }}
        </span>
      } @else {
        {{ date.day }}
      }
    </ng-template>
  </p-datepicker>
  @if (entry().date; as d) {
    <p class="tw:font-semibold tw:text-center">
      {{ formatDate(d) }}
      @if (entry().startTime; as t) {
        <span class="tw:mx-1">–</span>{{ formatTimeOnly(t) }}
      }
    </p>
  }
</div>
