<ds-tabs
  [items]="tabItems()"
  [value]="activeTab()"
  (valueChange)="activeTab.set($event)"
/>

@if (activeTab() === 'invite') {
  <div class="mt-[18px]">
    <app-share-access-tab
      [visibilityOptions]="visibilityOptions()"
      [selectedVisibility]="selectedVisibilityStr()"
      [isPublic]="isPublic()"
      [shareLink]="shareLink()"
      (visibilityChange)="onVisibilityChange($event)"
    />
    <app-share-invite-form
      class="block"
      [projectId]="projectId()"
      [contacts]="sharingContacts()"
      [sharingInProgress]="sharingInProgress()"
    />
  </div>
}

@if (activeTab() === 'members') {
  <div class="mt-[18px]">
    <app-share-members-list
      [projectId]="projectId()"
      [members]="sharedWith()"
      [isPublic]="isPublic()"
      (goInvite)="activeTab.set('invite')"
    />
  </div>
}
