@let _topic = topic();

<app-side-color-card
  [color]="_topic.optionType | hierarchyByType"
  class="tw:cursor-pointer"
>
  <div class="tw:flex tw:items-start tw:justify-between tw:mb-6 tw:gap-3">
    <div>
      <app-topic-type-icon [type]="_topic.optionType" />
    </div>
    <div class="tw:flex tw:flex-col tw:flex-1">
      <h3>{{ _topic.name }}</h3>
      @if (_topic.description) {
        <p class="label-sm tw:mt-1">{{ _topic.description }}</p>
      }
      <p class="label-sm tw:mt-2">
        {{
          "project.detail.item.options"
            | translate: { count: _topic.optionCount }
        }}
      </p>
    </div>
    <p-button
      icon="pi pi-ellipsis-v"
      [text]="true"
      (click)="menu.toggle($event)"
    />
    <p-menu #menu [model]="menuItems()" [popup]="true" appendTo="body" />
  </div>

  <div class="p-fluid">
    <p-button
      [severity]="_topic.nextOpenOptionId ? 'primary' : 'secondary'"
      class="tw:flex tw:w-full"
      [routerLink]="
        _topic.nextOpenOptionId
          ? [
              '/project/detail',
              projectId(),
              'vote',
              _topic.id,
              _topic.nextOpenOptionId,
            ]
          : ['/project/detail', projectId(), 'votes-overview', _topic.id]
      "
      [label]="
        _topic.nextOpenOptionId
          ? ('project.common.vote' | translate)
          : ('project.detail.item.pollOverview' | translate)
      "
    />
  </div>
</app-side-color-card>
