@let _topic = topic();

<app-side-color-card
  [color]="_topic.optionType | hierarchyByType"
  class="tw:cursor-pointer"
>
  <div class="tw:flex tw:items-start tw:justify-between tw:mb-6 tw:gap-3">
    <div>
      <app-topic-type-icon [type]="_topic.optionType" />
    </div>
    <div class="tw:flex tw:flex-col tw:flex-1">
      <p
        class="tw:text-[12px] tw:font-bold"
        [class]="_topic.optionType | hierarchyByType"
      >
        {{ _topic.optionType | topicByType }}
      </p>
      <h3>{{ _topic.name }}</h3>
      <p class="label-sm">Options: {{ _topic.optionCount }}</p>
    </div>
    <p-button
      icon="pi pi-ellipsis-v"
      [text]="true"
      (click)="menu.toggle($event)"
    />
    <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" />
  </div>

  <div class="p-fluid">
    <p-button
      [severity]="_topic.nextOpenOptionId ? 'primary' : 'secondary'"
      class="tw:flex tw:w-full"
      [routerLink]="
        _topic.nextOpenOptionId
          ? [
              '/project/detail',
              projectId(),
              'vote',
              _topic.id,
              _topic.nextOpenOptionId,
            ]
          : ['/project/detail', projectId(), 'votes-overview', _topic.id]
      "
      [label]="_topic.nextOpenOptionId ? 'Vote' : 'Poll overview'"
    />
  </div>
</app-side-color-card>
