@if (!isHidden()) {
  <header
    class="mx-auto w-full flex h-15 p-2 gap-2 bg-gradient-to-b from-white from-75% to-[#86bba1]/0"
  >
    @if (this.backRoute()) {
      <p-button
        icon="fa-solid fa-arrow-left"
        [routerLink]="[this.backRoute()]"
        [text]="true"
      />

      @if (!titleDisabled()) {
        <app-loading
          [isLoading]="title() === undefined"
          skeletonWidth="8rem"
          skeletonHeight="1.5rem"
          innercss="my-auto"
        >
          <h1
            class="my-auto text-headline-md font-bold text-primary-dark relative -top-[2px]"
          >
            {{ title() }}
          </h1>
        </app-loading>
      }
    } @else {
      <a href="/" class="my-auto ml-[5px]">
        <img
          alt="logo"
          ngSrc="logo-primary.svg"
          width="98"
          height="26"
          class="mx-auto mt-auto icon"
        />
      </a>
    }

    @if (user()?.isAuthenticated) {
      <app-user-avatar
        class="my-auto mr-0 ml-auto"
        [user]="user()!"
        [hlmDropdownMenuTrigger]="userMenu"
      />
      <ng-template #userMenu>
        <hlm-dropdown-menu>
          <button hlmDropdownMenuItem [routerLink]="['/logout']">
            <i class="fa-solid fa-right-from-bracket mr-2"></i>
            {{ logoutLabel() }}
          </button>
          <button hlmDropdownMenuItem [routerLink]="['/settings']">
            <i class="fa-solid fa-gear mr-2"></i>
            {{ settingsLabel() }}
          </button>
        </hlm-dropdown-menu>
      </ng-template>
    }
  </header>
}
