<form
  [formGroup]="form"
  (ngSubmit)="sendLoginMail()"
  class="w-full max-w-md"
>
  <p-panel>
    <ng-template #header>
      <div class="flex flex-col gap-1">
        <span class="text-2xl font-bold text-on-surface mx-auto"
          >{{ 'auth.requestEmail.title' | translate }}</span
        >
        <span
          class="text-sm text-on-surface-variant mx-auto text-center mt-2"
        >
          {{ 'auth.requestEmail.subtitle' | translate }}
        </span>
      </div>
    </ng-template>

    <div class="flex flex-col gap-4 mt-6">
      <div class="flex flex-col gap-1">
        <label
          class="text-sm font-semibold text-on-surface-variant"
          for="email"
        >
          {{ 'auth.requestEmail.email' | translate }}
        </label>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="fa-regular fa-envelope"></i>
          </p-inputgroup-addon>
          <input
            pInputText
            id="email"
            type="email"
            formControlName="email"
            placeholder="name@example.com"
            autofocus
          />
        </p-inputgroup>
        @if (errorMessage()) {
          <p-message severity="error">{{ errorMessage() }}</p-message>
        }
      </div>

      <p-button
        class="mt-2"
        type="submit"
        [label]="'auth.requestEmail.requestCode' | translate"
        icon="fa-solid fa-arrow-right"
        iconPos="right"
        [loading]="isLoading()"
        [disabled]="form.invalid || isLoading()"
        [fluid]="true"
      />
    </div>
  </p-panel>
</form>
