@let _poll = poll();

<div hlmCard>
  <div hlmCardContent>
    <div class="flex items-start justify-between mb-4 gap-3">
      <div>
        <app-option-type-icon [type]="_poll.optionType" />
      </div>
      <div class="flex flex-col flex-1">
        <h3>{{ _poll.name }}</h3>
        @if (_poll.description) {
          <p class="ds-body mt-1">{{ _poll.description }}</p>
        }
        <div class="flex items-center gap-3 mt-2">
          <span
            [hlmTooltip]="'project.detail.item.options' | translate: { count: _poll.optionCount }"
            position="top"
            class="flex items-center gap-1 ds-body cursor-default"
          >
            <i class="fa-solid fa-list"></i>
            <span>{{ _poll.optionCount }}</span>
          </span>
          <button hlmBtn variant="ghost" size="sm"
            [hlmTooltip]="'project.detail.item.comments' | translate: { count: _poll.commentCount }"
            position="top"
            [routerLink]="[
              '/polls',
              _poll.projectId,
              _poll.nextOpenOptionId ? 'overview' : 'results',
              _poll.pollId,
            ]"
            fragment="comments-section"
          ><i class="fa-regular fa-comments"></i>{{ _poll.commentCount }}</button>
        </div>
        <p class="ds-body opacity-60 mt-2">
          @if (_poll.lastVoteAt) {
            <i class="fa-regular fa-clock mr-1"></i>{{ 'project.lastVote.label' | translate }}: {{ _poll.lastVoteAt | timeSince }}
          } @else {
            {{ 'project.lastVote.none' | translate }}
          }
        </p>
      </div>
      @if (showMenu()) {
        <div>
          <button hlmBtn variant="ghost" icon="fa-solid fa-ellipsis-vertical" data-testid="poll-menu-btn" [hlmDropdownMenuTrigger]="pollMenu">
          </button>
          <ng-template #pollMenu>
            <hlm-dropdown-menu>
              @if (editRoute()) {
                <button hlmDropdownMenuItem [routerLink]="editRoute()">
                  <i class="fa-solid fa-pen mr-2"></i>{{ editLabel() }}
                </button>
              }
              @if (canSharePoll()) {
                <button hlmDropdownMenuItem (click)="shareRequested.emit()">
                  <i class="fa-solid fa-share-nodes mr-2"></i>{{ shareLabel() }}
                </button>
              }
              <button hlmDropdownMenuItem (click)="deletionRequested.emit()">
                <i class="fa-regular fa-trash-can mr-2"></i>{{ deleteLabel() }}
              </button>
            </hlm-dropdown-menu>
          </ng-template>
        </div>
      }
    </div>

    <div class="flex items-center gap-2 mb-2 ds-body opacity-70">
      <span>
        <span data-testid="voted-count">{{ _poll.votedCount }}</span>
        <span> / </span>
        <span data-testid="total-participants">{{ _poll.totalParticipants }}</span>
      </span>
      <div class="flex-1 h-1 rounded-full bg-muted overflow-hidden">
        <div
          class="h-full rounded-full bg-primary transition-all"
          [style.width.%]="_poll.totalParticipants > 0 ? (_poll.votedCount / _poll.totalParticipants) * 100 : 0"
        ></div>
      </div>
    </div>
    <div class="flex flex-col gap-1">
      @if (!_poll.currentUserVoted) {
        <button hlmBtn class="w-full" data-testid="vote-cta-btn" [routerLink]="[
            '/polls',
            _poll.projectId,
            'vote',
            _poll.pollId,
            _poll.nextOpenOptionId,
          ]">{{ 'project.detail.item.voteNow' | translate }}</button>
        <button hlmBtn variant="ghost" size="sm" class="w-full" [routerLink]="[
            '/polls',
            _poll.projectId,
            'overview',
            _poll.pollId,
          ]">{{ 'project.detail.item.voteOverview' | translate }}</button>
      } @else {
        <button hlmBtn class="w-full" data-testid="vote-cta-btn" [routerLink]="[
            '/polls',
            _poll.projectId,
            'results',
            _poll.pollId,
          ]">{{ 'project.detail.item.viewProgress' | translate }}</button>
        <button hlmBtn variant="ghost" size="sm" class="w-full" [routerLink]="[
            '/polls',
            _poll.projectId,
            'vote',
            _poll.pollId,
          ]" [queryParams]="{ revote: '1' }">{{ 'project.votesOverview.reVote' | translate }}</button>
      }
    </div>
  </div>
</div>
