<button
  hlmBtn
  type="button"
  class="add-card"
  [class.add-card--icon-left]="iconLeft()"
  [class.add-card--disabled]="disabled()"
  [disabled]="disabled()"
  (click)="!disabled() && action.emit()"
>
  @if (iconLeft()) {
    <div class="add-card__row">
      <span class="add-card__icon-sm">
        <ds-icon [name]="dsIcon()" [size]="14" color="var(--accent)" />
      </span>
      @if (cto()) {
        <p class="add-card__cto">{{ cto() }}</p>
      }
    </div>
    @if (description()) {
      <p class="add-card__description">{{ description() }}</p>
    }
  } @else {
    <span class="add-card__icon-lg">
      <ds-icon [name]="dsIcon()" [size]="20" color="#fff" />
    </span>
    @if (cto()) {
      <p class="add-card__cto">{{ cto() }}</p>
    }
    @if (description()) {
      <p class="add-card__description">{{ description() }}</p>
    }
  }
</button>
