<form [formGroup]="form">
  <p-panel header="Login" class="main-bg tw:w-150">
    <div class="tw:mb-5 tw:mt-5">
      <p-floatlabel variant="on">
        <label class="tw:block tw:mx-auto" for="email">E-Mail</label>
        <input pInputText id="email" class="tw:w-full"
               [class.ng-invalid]="form.get('email')!.invalid && form.get('email')!.dirty"
               type="email" formControlName="email" autofocus />
      </p-floatlabel>
      @if (errorMessage()) {
        <div class="tw:text-error">{{ errorMessage() }}</div>
      }
    </div>
    <p-button class="tw:ml-auto" type="submit" (click)="(sendLoginMail())" [disabled]="form.invalid"
              label="Send login code"></p-button>
  </p-panel>
</form>
