<div class="tw:flex tw:h-full tw:max-h-full tw:flex-col tw:mx-4">
  <section class="tw:mb-5">
    <h2>Projects</h2>
    <p>These are your current projects</p>
  </section>
  <div class="tw:grid tw:gap-4 tw:grid-cols-auto-fit tw:pb-8">
    @for (project of projects(); track project.id) {
      <app-project-item
        [project]="project"
        (deletionRequested)="deletionRequested(project)"
      />
    }
    <app-add-card
      cto="New project"
      description="Start a collaborative project"
      (action)="navigateToAdd()"
    />
  </div>
</div>

<p-confirmdialog />
