<div class="flex flex-col h-full w-full">
  <app-title-bar class="sticky top-0 z-10" />
  <main
    fMaxHeightMinusHeader
    class="flex-grow max-w-5xl mx-auto w-full h-full rounded-t-2xl overflow-y-auto"
  >
    <p-tabs [(value)]="activeTabValue">
      <p-tablist>
        <p-tab value="overview">{{
          "project.tabs.overview" | translate
        }}</p-tab>
        <p-tab value="polls"
          >{{ "project.tabs.polls" | translate }}
          <p-tag class="ml-1" [rounded]="true">{{
            standalonePolls().length
          }}</p-tag></p-tab
        >
        <p-tab value="projects"
          >{{ "project.tabs.projects" | translate }}
          <p-tag class="ml-1" [rounded]="true">{{
            projects().length
          }}</p-tag></p-tab
        >
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="overview">
          <app-overview-tab
            (projectDeletionRequested)="projectDeletionRequested($event)"
            (pollDeletionRequested)="pollDeletionRequested($event)"
            (shareRequested)="shareRequested($event)"
            (pollShareRequested)="pollShareRequested($event)"
          />
        </p-tabpanel>
        <p-tabpanel value="projects">
          <app-projects-tab
            (deletionRequested)="projectDeletionRequested($event)"
            (shareRequested)="shareRequested($event)"
          />
        </p-tabpanel>
        <p-tabpanel value="polls">
          <app-standalone-poll-tab
            (deletionRequested)="pollDeletionRequested($event)"
            (shareRequested)="pollShareRequested($event)"
          />
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </main>
</div>
<p-confirmdialog />

@if (sharingProject(); as project) {
  <app-share-drawer
    [projectId]="project.projectId"
    [projectName]="project.projectName"
    [sharedWith]="project.sharedWith"
    [visibilityType]="project.visibilityType"
    [visible]="!!sharingProjectId()"
    (visibleChange)="shareDrawerVisibilityChanged($event)"
  />
}
