@let _poll = poll();

<div hlmCard>
  <div hlmCardContent>
    <div class="flex items-start justify-between mb-4 gap-3">
      <div>
        <app-option-type-icon [type]="_poll.optionType" />
      </div>
      <div class="flex flex-col flex-1">
        <h3>{{ _poll.name }}</h3>
        @if (_poll.description) {
          <p class="ds-body mt-1">{{ _poll.description }}</p>
        }
        <div class="flex items-center gap-3 mt-2">
          <span
            [hlmTooltip]="'project.detail.item.options' | translate: { count: _poll.optionCount }"
            position="top"
            class="flex items-center gap-1 ds-body cursor-default"
          >
            <i class="fa-solid fa-list"></i>
            <span>{{ _poll.optionCount }}</span>
          </span>
          <button hlmBtn variant="ghost" size="sm"
            [hlmTooltip]="'project.detail.item.comments' | translate: { count: _poll.commentCount }"
            position="top"
            [routerLink]="[
              '/project/detail',
              _poll.projectId,
              _poll.nextOpenOptionId ? 'poll-overview' : 'results',
              _poll.pollId,
            ]"
            fragment="comments-section"
          ><i class="fa-regular fa-comments"></i>{{ _poll.commentCount }}</button>
        </div>
      </div>
      @if (showMenu()) {
        <div>
          <button hlmBtn variant="ghost" size="icon" data-testid="poll-menu-btn" [hlmDropdownMenuTrigger]="pollMenu">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
          <ng-template #pollMenu>
            <hlm-dropdown-menu>
              @if (editRoute()) {
                <button hlmDropdownMenuItem [routerLink]="editRoute()">
                  <i class="fa-solid fa-pen mr-2"></i>{{ editLabel() }}
                </button>
              }
              @if (canSharePoll()) {
                <button hlmDropdownMenuItem (click)="shareRequested.emit()">
                  <i class="fa-solid fa-share-nodes mr-2"></i>{{ shareLabel() }}
                </button>
              }
              <button hlmDropdownMenuItem (click)="deletionRequested.emit()">
                <i class="fa-regular fa-trash-can mr-2"></i>{{ deleteLabel() }}
              </button>
            </hlm-dropdown-menu>
          </ng-template>
        </div>
      }
    </div>

    <div class="flex flex-col gap-1">
      @if (_poll.nextOpenOptionId) {
        <button hlmBtn class="w-full" [routerLink]="[
            '/project/detail',
            _poll.projectId,
            'vote',
            _poll.pollId,
            _poll.nextOpenOptionId,
          ]">{{ 'project.common.vote' | translate }}</button>
        <button hlmBtn variant="ghost" size="sm" class="w-full" [routerLink]="[
            '/project/detail',
            _poll.projectId,
            'poll-overview',
            _poll.pollId,
          ]">{{ 'project.detail.item.voteOverview' | translate }}</button>
      } @else {
        <button hlmBtn class="w-full" [routerLink]="[
            '/project/detail',
            _poll.projectId,
            'results',
            _poll.pollId,
          ]">{{ 'project.detail.item.pollOverview' | translate }}</button>
        <button hlmBtn variant="ghost" size="sm" class="w-full" [routerLink]="[
            '/project/detail',
            _poll.projectId,
            'vote',
            _poll.pollId,
          ]" [queryParams]="{ revote: '1' }">{{ 'project.votesOverview.reVote' | translate }}</button>
      }
    </div>
  </div>
</div>
