:host {
  display: block;
}

textarea {
  transition: height 200ms ease-out;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea.scrollable {
  scrollbar-width: auto;
}

textarea.scrollable::-webkit-scrollbar {
  display: block;
}
